.imga {
    width: 100%; /* A imagem ocupa toda a largura da div */
    height: 100%; /* A imagem ocupa toda a altura da div */
    object-fit: cover; /* Redimensiona a imagem mantendo sua proporção */
    position: absolute; /* Posiciona a imagem absolutamente dentro da div */
    top: 0; /* A imagem começa no topo da div */
    left: 0; /* A imagem começa na esquerda da div */
}

.entire {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.lista {
    margin: 40px;
    height: 555px;
    width: 340px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 30px;
    border: 1px solid rgba(192, 252, 82, 0.18);
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    margin-bottom: 150px;
}

.lista:hover {
    -xpedu-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
    top: 200px;
    transition: all 100ms;
}

.lili {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}

.diveee {
    width: 105.9%; /* A div ocupa toda a largura disponível */
    height: 270px; /* Defina a altura desejada para a div */
    margin-top: -10px;
    position: relative; /* Para permitir o posicionamento absoluto da imagem */
    overflow: hidden;
    border-radius: 30px;
}
