.ninguem {
    height: 1200px;
    padding: 80px;
}

.asfc {
    background-color: #EAF1F6;
    height: 800px;
    padding: 200px;    
    border-radius: 20px;
    display: flex;
    justify-content: center;
    color: #2171B7;
    font-size: 25px;
}

.casc {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px;
}
.input{
    width: 600px;
    height: 25px;

}
.inpu2{
    width: 600px;
    height: 70px;

}
