.neymar{
    background-color: #FFCB05;
    color: #2171B7;
    height: 80px;
    width: 200px;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    border: solid 0;
}

.neymar:hover {
    background-color: #d3a900;
}