.sebartiao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.sebartiao2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px;
}